.navLink {
  text-decoration: none;
  /* color: #1A171B; */
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100000;
    line-height: 2;
    /* color: #1A171B; */
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    /* color: #1A171B; */
    z-index: 1000;
  }